# dependencies
/Frontend/node_modules
Frontend/.pnp
Frontend/.pnp.js
.deps

# testing
Frontend/coverage
secrets.js

# production
Frontend/build

# misc
Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
